@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.blauw:hover {
  background-color: #17c0eb;
}

.groen:hover {
  background-color: #32ff7e;
}

.bruin:hover {
  background-color: #865439;
}

.donkerbruin:hover {
  background-color: #716f81;
}

.grijs:hover {
  background-color: #483434;
}
