html,
body {
  height: 100%;
}

.hidden {
  display: none;
}

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 1px solid #1db954;
  color: #1db954;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  transition: all 0.25s ease;
  text-decoration: none;
}

.btn:hover {
  background: #1db954;
  color: #191414;
}

.btn--login {
  margin: 0 auto;
}

.login-btn-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
