span.bold {
  font-weight: bold;
}

.artist-wrapper {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.artist-block {
  width: 30%;
  /* height: 40vh; */
  background-color: #f8f8f8;
  border-radius: 1em;
  padding: 1em;
}

.artist-data {
  display: flex;
  flex-direction: row;
}

.artist-data > div {
  padding: 0 1em;
}

.popularity-bar {
  height: 1em;
  width: 100%;
  background-color: lightgrey;
  border-radius: 1em;
}

.popularity-bar-inner {
  height: 1em;
  border-radius: 1em;
  background-color: #1db954;
}
